.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image {
    object-fit: cover;
}

.content {}

.title {
    margin-bottom: 10px;
    font-size: 50px;
}

.desc {
    font-size: 18px;
    color: #999;
}

.mainContainer {
    /* background-color: grey; */
}